<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>My CRUD App</h1>
    <h3><i>Simple CRUD App with Express</i></h3>
    <p>Welcome! This is a simple CRUD (Create-Read-Update-Delete) application using Express and MySQL.</p>
    <p>You may go to <a href="/users"><code>/users</code></a> URI to start using the app.</p>
    <p>
        If you want to access the API, go to <a href="/api/users"><code>/api/users</code></a> or <code>/api/users/{id}</code> 
        where id is the user's id in integer (for example: <a href="/api/users/1"><code>/api/users/1</code></a>).</p>
    <p>
        For more information about the "ingredients" used to build this app, click one of these links:
        <ul>
            <li>
                <a href="https://expressjs.com">Express</a>
            </li>
            <li>
                <a href="https://www.mysql.com">MySQL</a>
            </li>
            <li>
                <a href="https://ejs.co">EJS</a>
            </li>
        </ul>
    </p>
</body>
</html>